<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8" />
  <title>Add User To Company</title>
  <link rel="icon" th:href="@{/css/pagelg.png}" />
  <link rel="stylesheet" type="text/css"
        href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

  <script type="text/javascript"
          src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"
          th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>



  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet"
        th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}" />

  <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script
          th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>

  <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script
          th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" type="text/css"
        href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript"
          src="/webjars/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript"
          th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />

  <link rel="stylesheet" type="text/css" th:href="@{/css/btn.css}" />

  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
          href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700'
          rel='stylesheet' type='text/css'>
  <script type="text/javascript" charset="utf8"
          src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  <style>

select {
	color: grey;
}

.tableWrapper {div .wrapper width:500px;
	overflow: auto;
}

@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}

.active button {
	color: white !important;
}

body {
	margin: 20px !important;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input [type="text"] {
width: 50%;
background: transparent;
}

.not-input {
border: none;
outline: none;
color: grey;
}

.not-input:focus {
outline: none;
color: grey;
}



</style>
</head>
<body>
<div class="container-fluid">
  <div class="row content">

    <div class="col-sm-2 sidenav">
      <h3 style="font-weight: bolder">
        <span style="color: white;">Welcome</span> <br> <b
              style="color: green;">[[${#request.userPrincipal.principal.fullName}]]</b>
      </h3>

      <form th:action="@{/logout}" method="post" th:hidden="true"
            name="logoutForm">
        <input type="submit" class="lgbtns" value="Sign Out" />
      </form>
      <ul>
        <li><a class="btn btn-secondary form-control" th:href="@{/quotation}">Quotation page</a></li>
        <li class="active"><div
                sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')">
          <a class="btn btn-secondary form-control" th:href="@{/papersList}">Paper & Color List</a>
        </div></li>
        <li><div>
          <a class="btn btn-secondary form-control" th:href="@{/finishingProps}">Finishing Properties</a>
        </div></li>
        <li><div>
          <a class="btn btn-secondary form-control" th:href="@{/draft_save}">Saved Quotes</a>
        </div></li>
        <li><div class="pending"
                 sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')">
          <a class="btn btn-secondary form-control" th:href="@{/pending_drafts}">Quote Approval</a>
          <span class="button__badge" th:text="${draftCount}"></span>
        </div></li>
        <li><div
                sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')">
          <a class="btn btn-secondary form-control" th:href="@{/users}">Users List</a>
        </div></li>
        <li><div>
          <a class="btn btn-secondary form-control" th:href="@{/userprofile}">Profile</a>
        </div></li>
        <li><div
                sec:authorize="hasAnyAuthority('ADMIN')">
          <a class="btn btn-primary form-control" th:href="@{/add_user_to_my_company}">Add User To Company</a>
        </div></li>
        <li><div
                sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
          <a class="btn btn-secondary form-control" th:href="@{/addcompany}">Add Company</a>
        </div></li>
        <li>
          <form th:action="@{/logout}" method="post">
            <input class="btn btn-danger form-control" type="submit"
                   value="Sign Out" />
          </form>
        </li>
      </ul>
      <br>
    </div>




    <div class="col-sm-10 well" style="background: #2B3035;">
      <div style="padding: 5px;">
        Add New User
        <br>
        <form id="signup-form" th:action="@{/process_register}"
              th:object="${user}" method="post">
          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
          <h1 style="color: green; font-weight: bolder; text-decoration: underline;">Create Account</h1>
          <br> <input style="font-size: 1.5rem; width: 300px;" type="text" th:field="*{username}"
                      placeholder="Enter username" required minlength="6" maxlength="20" />
          <br>
          <br>
          <input style="font-size: 1.5rem;width: 300px;" type="password" th:field="*{password}"
                 placeholder="Enter Password" required minlength="6" maxlength="10" />
          <br>
          <br>
          <input style="font-size: 1.5rem;width: 300px;" type="text" th:field="*{firstName}"
                 placeholder="Enter First Name" required minlength="2"
                 maxlength="20" />
          <br>
          <br>
          <input style="font-size: 1.5rem;width: 300px;" type="text" th:field="*{lastName}"
                                          placeholder="Enter Last Name" required minlength="2" maxlength="20" />
          <br>
          <br>
          <input style="font-size: 1.5rem;width: 300px;" type="text" th:field="*{email}" placeholder="Enter Email"
                 required minlength="2" />
          <br>
          <br>
          <input style="font-size: 1.5rem;width: 300px;" type="text" th:field="*{phone}"
                                                  placeholder="Enter Phone" required minlength="2" maxlength="20" />
          <br>
          <br>
          <th:block th:each="role: ${listRoles}">
            <div class="form-check">
              &nbsp;
              &nbsp;
              <input class="form-check-input" style="color: white;font-size: 1.5rem;"
                     type="radio" th:field="*{roles}" th:value="${role.id}"
                     name="flexRadioDefault" id="flexRadioDefault1" /> <label
                    style="color: yellow;font-size: 1.5rem;" class="form-check-label"
                    for="flexRadioDefault1" th:text="${role.name}"></label>
            </div>


          </th:block>
          <br>
          <br>
          <div sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
            <select style="font-size: 1.5rem; width: 300px;" id="company_select" class="form-control" required>
              <option value="">--Select Company--</option>
              <option th:each="cp : ${company_list}"
                      th:value="${cp.id}" th:text="${cp.company_name}"></option>
            </select>
            <input type="hidden" id="to_add_user_company_id" th:field="*{company_id}" />
          </div>

          <br>
          <br>
          <button id="signup-btn" style="font-size: 2rem;" class="btn btn-primary"
                  type="submit">Confirm</button>
        </form>
      </div>



    </div>
  </div>
</div>
<script type="text/javascript" th:src="@{/js/countpending.js}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	            $("#signup-btn").click(function(e) {
	                e.preventDefault(); // Prevent the form from being submitted the traditional way
	                var form = $("#signup-form");
	                $.ajax({
	                    type : "POST",
	                    url : "/process_register",
	                    data : form.serialize(), // serialize the form data
	                    success : function(data) {
	                        var tt = '';
	                        var ic = '';
	                        if (data == "Signing Up Succeed") {
	                            tt = 'Signing Up Succeed!';
	                            ic = 'success';
	                        } else {
	                             tt = data;
	                            ic = 'error';
	                        }
	                        Swal.fire({
	                            title : tt,
	                            text : 'Click to continue',
	                            icon : ic,
	                            confirmButtonText : 'Okay'
	                        })
	                    },
	                    error : function(data) {
	                        Swal.fire({
	                            title : 'Failed to Sign Up!',
	                            text : 'Click to continue',
	                            icon : 'error',
	                            confirmButtonText : 'Okay'
	                        })
	                    }
	                });
	            });
	</script>
<script>
  $("#company_select").change(function() {
    var opt = $('#company_select').find(":selected").text();
	$('#to_add_user_company_id').val($('#company_select').find(":selected").val());
  });
</script>
</body>
</html>