<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Home page</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<link rel="icon" th:href="@{/css/pagelg.png}" />
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}" />

<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
</style>
</head>
<body
	style="background-color: #8BC6EC; background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);">
	<div class="card mx-auto mt-5"
		style="width: 25rem; background-color: transparent; border: none; height: 100vh;">
		<div class="card-body" style="background-color: transparent;">
			<ul>
				<li><div>
						<a class="btn btn-secondary form-control" th:href="@{/quotation}">Quotation
							page</a>
					</div></li>
				<li><div sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')">
						<a class="btn btn-secondary form-control" th:href="@{/papersList}">Paper
							& Color List</a>
					</div></li>
				<li><div>
						<a class="btn btn-secondary form-control"
							th:href="@{/finishingProps}">Finishing Properties</a>
					</div></li>
				<li><div>
						<a class="btn btn-secondary form-control" th:href="@{/draft_save}">Saved Quotes</a>
					</div></li>
				<li><div class="pending"
						sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN','PRODUCTION_MANAGER')">
						<a class="btn btn-secondary form-control"
							th:href="@{/pending_drafts}">Quote Approval</a> <span
							class="button__badge" th:text="${draftCount1}"></span>
					</div></li>
				<li><div class="pending"
						 sec:authorize="hasAnyAuthority('ACCOUNT')">
					<a class="btn btn-secondary form-control"
					   th:href="@{/pending_drafts_account}">Approval</a> <span
						class="button__badge" th:text="${draftCount1}"></span>
				</div></li>
				<li><div sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')">
						<a class="btn btn-secondary form-control" th:href="@{/users}">Users
							List</a>
					</div></li>
				<li><div>
						<a class="btn btn-secondary form-control"
							th:href="@{/userprofile}">Profile</a>
					</div></li>
				<li><div
						sec:authorize="hasAnyAuthority('ADMIN')">
					<a class="btn btn-secondary form-control" th:href="@{/add_user_to_my_company}">Add User To Company</a>
				</div></li>
				<li><div
						sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
					<a class="btn btn-secondary form-control" th:href="@{/addcompany}">Add Company</a>
				</div></li>
				<li>
					<form th:action="@{/logout}" method="post">
						<input class="btn btn-danger form-control" type="submit"
							value="Sign Out" />
					</form>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>