<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
	<link rel="icon" th:href="@{/css/pagelg.png}" />
<link rel="stylesheet" media="all" th:href="@{/css/login.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
			src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<style>
input {
	border-radius: 6px;
	font-family: "PT Sans", Calibri, Tahoma, sans-serif;
	font-size: 1.125rem;
}

.forgotPassword {
	font-family: "PT Sans", Calibri, Tahoma, sans-serif;
	font-size: 1.25rem;
}

#rememberme-container {
	display: flex;
	align-items: center;
}

#remember-me-text {
	display: inline; /* or display: inline-block */
}

.form-check-input {
	display: inline;
}

label[for=rememberme] {
	white-space: nowrap;
}
</style>
</head>

<body style="background-color: white">
<img th:src="@{/css/logo.jpg}" style="width: 25%;" alt="Logo">
	<div class="container" id="container">

		<div class="form-container sign-in-container">

			<form th:action="@{/process_login}" method="post">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" /> <input type="text" name="username"
					placeholder="Enter username" required minlength="2" maxlength="20" />
				<input type="password" name="password" placeholder="Enter password"
					required />
				<div th:if="${param.error}">
					<p class="text-danger">Incorrect Username or Password</p>

				</div>
				<div id="rememberme-container">
					<input style="display: inline;" type="checkbox" id="rememberme"
						name="remember-me" />&nbsp; <label for="rememberme"
						id="remember-me-text">Stay logged in</label>
				</div>

				<a class="forgotPassword" th:href="@{/forgot_password}">Forgot
					your password?</a>
				<button type="submit">Login</button>
			</form>
		</div>
	</div>

	<script>
	            $("#signup-btn").click(function(e) {
	                e.preventDefault(); // Prevent the form from being submitted the traditional way
	                var form = $("#signup-form");
	                $.ajax({
	                    type : "POST",
	                    url : "/process_register",
	                    data : form.serialize(), // serialize the form data
	                    success : function(data) {
	                        var tt = '';
	                        var ic = '';
	                        if (data == "Signing Up Succeed") {
	                            tt = 'Signing Up Succeed!';
	                            ic = 'success';
	                        } else {
	                             tt = data;
	                            ic = 'error';
	                        }
	                        Swal.fire({
	                            title : tt,
	                            text : 'Click to continue',
	                            icon : ic,
	                            confirmButtonText : 'Okay'
	                        })
	                    },
	                    error : function(data) {
	                        Swal.fire({
	                            title : 'Failed to Sign Up!',
	                            text : 'Click to continue',
	                            icon : 'error',
	                            confirmButtonText : 'Okay'
	                        })
	                    }
	                });
	            });
	</script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>