<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reset Password</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="icon" th:href="@{/css/pagelg.png}" />
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <h2 class="text-center">Reset Your Password</h2>
    <form th:action="@{/reset_password}" method="post" onsubmit="return validatePasswords()">
        <input type="hidden" name="token" th:value="${token}"/>
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your new password" required/>
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm your new password" required/>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Change Password" class="btn btn-primary" id="submit_btn" disabled/>
        </div>
    </form>
</div>
<script>
    const password = document.getElementById('password');
    const confirm_password = document.getElementById('confirm_password');
    const submit_btn = document.getElementById('submit_btn');

    password.addEventListener('input', validatePasswords);
    confirm_password.addEventListener('input', validatePasswords);

    function validatePasswords() {
        if (password.value !== confirm_password.value) {
            submit_btn.setAttribute('disabled', true);
            confirm_password.setCustomValidity("Passwords do not match.");
        } else {
            submit_btn.removeAttribute('disabled');
            confirm_password.setCustomValidity("");
        }
    }
</script>
</body>
</html>