<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>List Users</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="icon" th:href="@{/css/pagelg.png}" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>



<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700'
	rel='stylesheet' type='text/css'>
<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script>
	$(document).ready(function() {
		$('#table_id').DataTable();
	});
</script>
<style>
td {
	text-align: left;
}

input {
	color: whitesmoke;
}

body {
	margin: 20px !important;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<h3 style="font-weight: bolder">
					<span style="color: white;">Welcome</span> <br> <b
						style="color: green;">[[${#request.userPrincipal.principal.fullName}]]</b>
					<br> <span style="color: grey;"
						sec:authentication="principal.authorities">Roles</span>
				</h3>
				<form th:action="@{/logout}" method="post" th:hidden="true"
					name="logoutForm">
					<input type="submit" class="lgbtns" value="Sign Out" />
				</form>
			<ul>
                    <li><a class="btn btn-secondary form-control" th:href="@{/quotation}">Quotation page</a></li>
                    <li><div
                            sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')">
                            <a class="btn btn-secondary form-control" th:href="@{/papersList}">Paper & Color List</a>
                        </div></li>
                    <li><div>
                            <a class="btn btn-secondary form-control" th:href="@{/finishingProps}">Finishing Properties</a>
                        </div></li>
                    <li><div>
                            <a class="btn btn-secondary form-control" th:href="@{/draft_save}">Saved Quotes</a>
                        </div></li>
                    <li><div class="pending"
                            sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')">
                            <a class="btn btn-secondary form-control" th:href="@{/pending_drafts}">Quote Approval</a>
                           <span class="button__badge" th:text="${draftCount}"></span>
                        </div></li>
                    <li><div
                            sec:authorize="hasAnyAuthority('SUPER_ADMIN','ADMIN')">
                            <a class="btn btn-primary form-control" th:href="@{/users}">Users (Employees)</a>
                        </div></li>
                    <li><div>
                            <a class="btn btn-secondary form-control" th:href="@{/userprofile}">Profile</a>
                        </div></li>
				<li><div
						sec:authorize="hasAnyAuthority('ADMIN')">
					<a class="btn btn-secondary form-control" th:href="@{/add_user_to_my_company}">Add User To Company</a>
				</div></li>
				<li><div
						sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
					<a class="btn btn-secondary form-control" th:href="@{/addcompany}">Add Company</a>
				</div></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input class="btn btn-danger form-control" type="submit"
                                value="Sign Out" />
                        </form>
                    </li>
                </ul>
				<br>
			</div>

			<div class="col-sm-10 well" style="background: #2B3035;">
				<div th:if="${listUsers != null and !listUsers.isEmpty()}">
					<table id="table_id" class="display table-dark table-hover table">
						<thead>
							<tr>
								<th>Username</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Roles</th>
								<th>Company</th>
								<th>Change role</th>
								<th>Add to company</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user: ${listUsers}">
								<td th:text="${user.username}">Username</td>
								<td th:text="${user.firstName}">First Name</td>
								<td th:text="${user.lastName}">Last Name</td>
								<td th:text="${user.email}">Email</td>
								<td th:text="${user.phone}">Phone</td>
								<td style="color: yellow;" th:text="${user.roles}">Roles</td>
								<td th:text="${user.company != null ? user.company.company_name : 'Unassigned'}"
									th:classappend="${user.company == null ? 'text-danger' : ''}">
									Company
								</td>
								<td>
									<div sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
										<a th:href="@{/edituser/{id}(id=${user.getAppUserId()})}"><i
											class="fa fa-pencil" aria-hidden="true"></i></a>
									</div>

								</td>
								<td>
									<div sec:authorize="hasAnyAuthority('SUPER_ADMIN')">
										<a th:href="@{/add_into_company/{id}(id=${user.getAppUserId()})}">
											<i class="fa fa-user-plus" aria-hidden="true"></i>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
<script type="text/javascript" th:src="@{/js/countpending.js}"></script>
</body>
</html>